#top-nav {
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            margin-right: 30px;
        }
    }

    .menu-item {
        font-family: "Mukta";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        padding-bottom: 10px;

        a {
            font-family: "Mukta";
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
        }
    }

    .current_page_item {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0px;
            width: 20px;
            border-bottom: 2px solid var(--main-color-orange);
            margin: 0px auto;
        }
    }
}